@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-body: 'Roboto', sans-serif;
  --fc-body: #f5f5fa;

  --body-bg: #0c0c0f;

  --input-bg: #06181c;

  --button-bg: #065e7c;
  --button-bg-hover: #f5f5fa;

  --thead-bg: #043444;
  --td-darker: rgba(6, 22, 27, 0.5);
  --td-lighter: rgba(6, 24, 28, 1);
  --td-border: rgba(74, 128, 140, 1);
}

/* General styles */

body {
  background: var(--body-bg);
  color: var(--fc-body);
  font-size: 1.6rem;

  display: grid;
  place-items: center;

  height: 100vh;
}

body * {
  font-family: var(--ff-body);
}

#app {
  width: 50%;
  min-width: 90rem;
  margin-block: 4.5rem;
}

header {
  display: flex;
  justify-content: space-between;

  height: 4.8rem;
  margin-bottom: 8.8rem;
}

.table-wrapper {
  border: 1px solid var(--td-border);
  border-radius: .4rem;
  
  max-height: 60rem;
  overflow: overlay;
}

table {
  width: 100%;
  max-height: 60rem;

  font-weight: 700;
  font-size: 2rem;
  line-height: 160%;

  border-collapse: collapse;
}

table * {
  color: var(--fc-body);
  font-size: 2rem;
  line-height: 160%;
}

/* Utils */
.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Specific  */

/* || Header */
.logoImage {
  height: 3.2rem;
  margin-top: 1.5rem;
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.searchWrapper input {
  width: 46.2rem;
  height: 4.8rem;
  padding: 1.6rem;

  background: var(--input-bg);

  font-size: 1.6rem;
  line-height: 100%;
  color: #7c7c8a;

  border: none;
  border-radius: 5px;
}

.searchWrapper input:focus {
  color: white;
}

.searchWrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  height: 4.8rem;
  padding: 1.2rem 3.2rem;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--button-bg-hover);

  border: none;
  border-radius: 5px;

  background: var(--button-bg);
  cursor: pointer;
  transition: all 300ms;
}

.searchWrapper button svg {
  fill: var(--fc-body);
}

.searchWrapper button:hover {
  background: var(--button-bg-hover);
  color: var(--button-bg);
}

.searchWrapper button:hover svg {
  fill: var(--button-bg);
}

/* || Table/body */
table thead th {
  height: 6.4rem;
  padding: 4rem 1.6rem;

  text-align: left;
  background: var(--thead-bg);
}

table thead th:first-child {
  width: 50.4rem;
}

table tbody td {
  padding: 4rem 2.4rem;
}

.user-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

td.user img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: 700;
  line-height: 160%;
}

td.user a span {
  font-weight: 400;
}

td.repositories,
td.followers {
  width: 22rem;
}

td.removeButton {
  width: 18rem;
}

.removeItem {
  background: none;
  border: none;

  color: #f75a68;
  cursor: pointer;
}

.removeItem:hover {
  opacity: 0.5;
}

table tbody tr {
  background: var(--td-lighter);
  border-top: 1px solid var(--td-border);
}

table tbody tr:nth-child(odd) {
  background: var(--td-darker);
}

::-webkit-scrollbar {
  width: .6rem;
  height: 10rem;
}

::-webkit-scrollbar-thumb {
  background-color: #4a808c;
  width: 0.6rem;
  height: 12rem;
  border-radius: 12px;
}
